<div class="container">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <a class="text-dark float-right" [routerLink]="['/donate']"
        ><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Add</a
      >
    </div>
    <div class="col-md-2">
      <a class="text-danger" (click)="logout()"
        ><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a
      >
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <h5 class="mt-5 totalValues" *ngIf="donorMemberCount != 0">
            #Janasainiks<span class="text-danger"
              >({{ donorMemberCount }})</span
            >
            <!-- &nbsp;&nbsp;&nbsp;#funds<span class="text-danger">({{fundValue | currency:'INR'}})</span> -->
          </h5>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="filter">Filter By</label>
                <select
                  id="filter"
                  class="form-control"
                  required="required"
                  [(ngModel)]="referenced"
                  (change)="onChangeFilter($event.target)"
                >
                  <label>Filter By Reference Name</label>
                  <option *ngFor="let x of referList" [value]="x.value">
                    {{ x.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="filter">Per Page</label>
                <select
                  id="filter"
                  class="form-control"
                  required="required"
                  [(ngModel)]="size"
                  (change)="onChangeFilterRecords($event.target)"
                >
                  <option *ngFor="let x of pageList" [value]="x">
                    {{ x }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <ng-container *ngIf="donorMemberCount === 0">
          <div class="col-md-4 text-center">
            <h5 class="text-secondary">No Records</h5>
          </div>
        </ng-container>

        <div
          class="col-md-4"
          *ngFor="
            let item of totalDonorList
              | paginate
                : {
                    itemsPerPage: this.size,
                    currentPage: page,
                    totalItems: donorMemberCount
                  };
            let i = index
          "
        >
          <div class="card shadow-sm mt-4">
            <div class="overflow-hidden">
              <img
                *ngIf="!!item?.image; else userAvatar"
                [src]="item?.image"
                class="screenShotImg"
              />
              <ng-template #userAvatar>
                <img src="/assets/noImg.jpg" alt="..." class="screenShotImg" />
              </ng-template>
            </div>
            <div class="card-footer">
              <h6 class="card-title donorName">
                {{ item?.donor }}&nbsp;({{ item?.city }})
              </h6>
              <span class="text-primary d-block"
                ><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{
                  item.amount | number
                }}</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <pagination-controls
            class="ngx-pagination"
            (click)="allMembers()"
            previousLabel=""
            nextLabel=""
            (pageChange)="page = $event"
          ></pagination-controls>
        </div>
      </div>
      <br /><br /><br />
      <br /><br /><br />
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
